.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.submit {
  background-color: $color-white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: $color-form;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}