.navbar {
  position: relative;
  text-align: center;

  &-lists {
    margin: 0;
    padding: 0;
    text-align: center;

    &__list {
      display: inline-block;
      padding: 1.6rem;
            
      list-style: none;
    }

    &__link {
      text-decoration: none;
      color: $color-white;
          
      font-size: 12px;
    }
  }
}