$color-black: #000000;
$color-white: #ffffff;
$color-white-darken: #e6e3e3;
$color-gray: #262e2c;
$color-green-dark: #29463e;
$color-green-darken: #181f1c31;
$color-light-green: #687773;
$color-shadow: rgba(57, 63, 72, .3);
$color-link-hover: #cf316e;
$color-form: #913068;

$font-12: 12px;
$font-10: 10px;
$font-14: 14px;
$font-20: 20px;
$font-16: 16px;
